<% provide(:title, @script.name)%>
<div class="span12">
  <p><%=@script.description %></p>
  <pre><%=@script.code %></pre>
<%= link_to 'Edit', edit_project_script_path(@project,@script) %> |
<%= link_to 'Back', project_scripts_path(@project) %>
</div>

