@import "bootstrap";
/* Rails scaffold style compatibility */
#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}
textarea {
  width: 100%
}
#editor{
  width:500px;
  height:100px;
}
