@import "bootstrap";
@import "bootstrap-responsive";
/* Rails scaffold style compatibility */
h1{
  margin: 10px 0;
}
#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}
textarea {
  width: 100%
}
#editor{
  width:970px; // FIX IT!!
  height:500px;
  margin:10px 0;
}
#run-md {
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#run-raw {
  display:none;
}
.edited {
  display:none;
}
#footer {
    border-top: 1px solid #EBEBEB;
    margin-top:20px;
    padding-top:20px;
    color: #777;
    .right{
    float:right;
    }
}

