// Place all the styles related to the Scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ide {
  position:fixed;
  top:40px;
  left:0;
  right:0;
  bottom:0;
  background-color:#FFFFFF;
  z-index:99999;
  display:none;
  #ide-editor {
    width: 70%;
    top:40px;
    bottom:0;
    float:left;
  }
  #ide-console {
    height: 100%;
    width: 30%;
    float: right;
    overflow:auto;
  }
}
.param_date {
  @extend .icon-calendar;
}
